:root {
    --primary-color: deepskyblue;
    --primary-light-color: lightblue;
    --primary-text-color: white;
    --text-color: black;
}

a {
    text-decoration: none;
}

.widget {
    background-color: var(--primary-text-color);
    position: fixed;
    right: 0;
    top: 6rem;
    width: 500px;
    padding: 1rem;
    display: none;
    flex-direction: column;
    animation: widget-anim-in;
    animation-duration: 0.3s;
}

.widget hr {
    margin-top: 5px;
}

.btn {
    background-color: deepskyblue;
    padding: 10px;
    text-align: center;
    margin: 5px;
    color: var(--primary-text-color);
    transition-duration: 0.3s;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.widget-btn {
    background-color: white;
    position: fixed;
    display: flex;
    direction: row;
    bottom: 0;
    right: 10%;
    padding: 1rem 5rem;
    color: var(--text-color);
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    animation: widget-hidden-anim-in;
    animation-duration: 0.5s;
}

.widget-btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition-duration: 0.3s;
}

.widget-notifications-num {
    margin-left: 10px;  
}

#posts {
    margin-top: 10px;
    display: flex;
    height: 50vh;
    overflow-y: scroll;
    flex-flow: column-reverse;
}

#post-textbox {
    width: 100%;
    height: 6rem;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.5rem;
    margin-top: 10px;
    border-radius: 2px;
}

#post-submit {
    padding: 0.5rem 2rem;
    line-height: 2rem;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    float: right;
    border-radius: 5px;
}

#post-submit:hover {
    color: var(--primary-color);
    background-color: var(--primary-text-color);
    transition-duration: 0.4s;
}

.post {
    padding: 10px;
    margin: 5px 0;
    display: grid;
    grid-template-areas: "author-img post-author"
    "author-img post-text"
    "post-time post-time";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.4fr 2fr 1fr;
    border-radius: 5px;
}

.author-img {
    grid-area: author-img;
    width: 75px;
    border-radius: 50%;
}

.post-author {
    grid-area: post-author;
    font-weight: bold;
}

.post-delete-btn {
    font-weight: 300;
    color: var(--text-color);
    float: right;
    transition-duration: 0.4s;
}

.post-delete-btn:hover {
    color: var(--primary-color);
}

.post-text {
    grid-area: post-text;
}

.post-text a {
    color: var(--primary-color);
    font-weight: bold;
}

.post-time {
    grid-area: post-time;
    text-align: right;
    font-style: italic;
    font-size: 0.75rem;
}

.post-readed-btn {
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    color: var(--primary-color);
}

.unread { 
    background-color: var(--primary-light-color);
}

@keyframes widget-anim-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes widget-hidden-anim-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 750px) {
    .widget {
        top: 0;
        height: 100%;
        width: 100vw;
    }
}